
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --borderRadTD: 6px;
    --transGlobal: 300ms;
}

table {
    border: darkgray 2px dotted;
    border-radius: 6px;
    padding: 6px;
}

#btnAddCommit {
    background: #b4b4ff;
    color: darkblue;
    border: dodgerblue 1px solid;
    border-radius: var(--borderRadTD);
    transition: var(--transGlobal);
}

#btnAddCommit:hover {
    background: darkblue;
    color: #b4b4ff;
    border: blue 1px solid;
    border-radius: var(--borderRadTD);
    transition: var(--transGlobal);
}

#headerMain {
    font-family: 'Audiowide', cursive;
}


